= simple_form_for @job do |f|
  .row-fluid
    .form-horizontal
      .form-inputs
        = f.association :client if current_user.has_role? :admin
        = f.association :user, :label => "Courier" if current_user.has_role? :admin
        - labels = ["Pickup Location", "Dropoff Location"]
        .controls
          .help-block
            Location not listed?
            = link_to "Add it", new_location_path
        - i = 0
        = f.simple_fields_for :drops do |drop_form|
          = drop_form.association :location, :label => labels[i]
          - i += 1
        = f.input :notes, :as => :text

      .form-actions
        = f.button :submit, :class => "btn btn-primary"
        or
        = link_to "Cancel", :back

