%h2
  = @client.name
  %small= link_to 'Edit', edit_client_path(@client)

%h3
  Recent Jobs
  %small
    %a{ :href => new_job_path }
      Add Job

- if @client.jobs.count > 0
  %table.table.table-striped
    %thead
      %tr
        %td Courier
    %tbody
      - @client.jobs.each do |job|
        %tr
          %td
            - if job.user.nil?
              Unassigned
            - else
              = job.user.name
          %td
            = link_to 'Edit', edit_job_path(job)
            = link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete

