.container
  %h1 Our Members
  .row
    .span4
      %img.pull-left{:src => "http://placehold.it/100x125"}
      %h2 Name
      %p= Faker::Lorem.paragraphs(1).join('')
    .span4
      %img.pull-left{:src => "http://placehold.it/100x125"}
      %h2 Name
      %p= Faker::Lorem.paragraphs(1).join('')
    .span4
      %img.pull-left{:src => "http://placehold.it/100x125"}
      %h2 Name
      %p= Faker::Lorem.paragraphs(1).join('')
  .row
    .span4
      %img.pull-left{:src => "http://placehold.it/100x125"}
      %h2 Name
      %p= Faker::Lorem.paragraphs(1).join('')
    .span4
      %img.pull-left{:src => "http://placehold.it/100x125"}
      %h2 Name
      %p= Faker::Lorem.paragraphs(1).join('')
    .span4
      %img.pull-left{:src => "http://placehold.it/100x125"}
      %h2 Name
      %p= Faker::Lorem.paragraphs(1).join('')
