.container
  .row
    .span4
      %h1 Our Members
      %p Our mission is to set a new professional standard for same day delivery service, provide sustainable working conditions for our members, and leverage the full potential of the bicycle as a solution to the challenges of the modern city.
    .span8
      .row-fluid.member-row
        .span6
          %img.pull-left{:src => "http://placehold.it/100x125"}
<<<<<<< HEAD
          %h2= Faker::Name.name
          %p= Faker::Lorem.paragraphs(1).join('')
        .span6
          %img.pull-left{:src => "http://placehold.it/100x125"}
          %h2= Faker::Name.name
=======
          %h2 Name
          %p= Faker::Lorem.paragraphs(1).join('')
        .span6
          %img.pull-left{:src => "http://placehold.it/100x125"}
          %h2 Name
>>>>>>> 33e6d68d9e8958fc37df6305e34b05d4fb8892ed
          %p= Faker::Lorem.paragraphs(1).join('')
      .row-fluid.member-row
        .span6
          %img.pull-left{:src => "http://placehold.it/100x125"}
<<<<<<< HEAD
          %h2= Faker::Name.name
          %p= Faker::Lorem.paragraphs(1).join('')
        .span6
          %img.pull-left{:src => "http://placehold.it/100x125"}
          %h2= Faker::Name.name
=======
          %h2 Name
          %p= Faker::Lorem.paragraphs(1).join('')
        .span6
          %img.pull-left{:src => "http://placehold.it/100x125"}
          %h2 Name
>>>>>>> 33e6d68d9e8958fc37df6305e34b05d4fb8892ed
          %p= Faker::Lorem.paragraphs(1).join('')
      .row-fluid.member-row
        .span6
          %img.pull-left{:src => "http://placehold.it/100x125"}
<<<<<<< HEAD
          %h2= Faker::Name.name
          %p= Faker::Lorem.paragraphs(1).join('')
        .span6
          %img.pull-left{:src => "http://placehold.it/100x125"}
          %h2= Faker::Name.name
=======
          %h2 Name
          %p= Faker::Lorem.paragraphs(1).join('')
        .span6
          %img.pull-left{:src => "http://placehold.it/100x125"}
          %h2 Name
>>>>>>> 33e6d68d9e8958fc37df6305e34b05d4fb8892ed
          %p= Faker::Lorem.paragraphs(1).join('')
