- content_for :head do
  = javascript_include_tag "locations-edit"

%h1
  Edit
  = @location.name

.row-fluid
  .span6
    = render 'form'

  #map{ :"data-lat" => @location.lat, :"data-lng" => @location.lng }


= link_to 'Show', @location
\|
= link_to 'Back', locations_path
