%h1.pull-left
  Locations
  %small= link_to "Add Location", new_location_path
.pull-right
  = render "layouts/searchform"
.clearfix

%table.table.table-striped
  %thead
    %tr
      %td Name
      %td Address
  %tbody
    - @locations.each do |location|
      %tr
        %td= link_to location.name, location
        %td= location.address

= will_paginate @locations, :renderer => BootstrapPagination::Rails
