%header.navbar.navbar-inverse.navbar-fixed-top
  %nav.navbar-inner
    .container
      = link_to APP_TITLE, "/", :class => 'brand'
      - if user_signed_in?
        %ul.nav
          - if current_user.has_role? :admin
            %li= link_to "Jobs", jobs_path
            %li= link_to "Clients", clients_path
            %li= link_to "Locations", locations_path
          - else
            %li= link_to "View Deliveries", '/'
            %li= link_to "Request Delivery", new_job_path
            %li= link_to "Address Book", locations_path

      %ul.nav.pull-right
        - if user_signed_in?
          %li
            = link_to('Settings', edit_user_registration_path)
          %li
            = link_to('Logout', destroy_user_session_path, :method=>'delete')
        - else
          %li
            = link_to('Sign up', new_user_registration_path)
          %li
            = link_to('Login', new_user_session_path)
