!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "FTL Couriers"
    %script{ :src => "https://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript" }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{ :class => [controller_name, "#{controller_name}-#{action_name}", current_user.nil? ? "" : "loggedin"] }
    = render 'layouts/header'
    #map
    = yield
